{% extends 'web/main.html' %} {% block content %}

<div class="row mt-2">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Alerts by Tag</h5>
                {% include 'web/alertTagChart.html' %}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Metrics Being Queried</h5>
                <table class="table">
                    {% for metric in metric_names %}
                    <tr>
                        <td>{{ metric }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Recent Alerts</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Severity</th>
                            <th>Host</th>
                            <th>Tag</th>
                            <th>Metric</th>
                            <th>Threshold</th>
                            <th>Operator</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for alert in alert_list %}
                        <!--0 is the highest severity an alert can be.-->
                        <!--Want to highlight the table row in red if this is the case.-->

                        <tr
                            {%if alert.alert_rule.severity is 0 %}
                            style="background-color: rgb(248, 149, 149)"
                            {% endif %}
                        >
                            <td>{{ alert.time }}</td>
                            <td>{{ alert.alert_rule.severity }}</td>
                            <td>{{ alert.host.guid }}</td>
                            <td>{{ alert.host_tag.name }}</td>
                            <td>{{ alert.metric.name }}</td>
                            <td>{{ alert.threshold }}</td>
                            <td>{{ alert.operator }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Host Tags</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Tag</th>
                            <th># of Hosts</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tag in tag_list %}
                        <tr>
                            <td>
                                <a href="{% url 'tag' tag.name %}"
                                    >{{ tag.name }}</a
                                >
                            </td>
                            <td>{{ host_list }}</td>
                            <td>{{ tag.registration_key }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Reports</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Host Name</th>
                            <th>Metric</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for report in page_obj %}
                        <tr>
                            <td>{{ report.time }}</td>
                            <td>{{ report.host.guid }}</td>
                            <td>{{ report.metric.name }}</td>
                            <td>{{ report.value }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!--Pagination for the reports table-->
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}"
                            >previous</a
                        >
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}"
                            >last &raquo;</a
                        >
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
