{% extends 'web/main.html' %}

{% block content %}

<br>

<div style = "position:absolute; left:31px; top:95px;">
	<div class="row">
		<h3>Host: {{ host_test }}</h3>
		<div class="row btn-group">
			<button type="button" onclick="window.location='containers'" class="col-md-5 btn btn-secondary btn-md" style="margin-top: 6px; margin-left: 28px;">Containers</button>
			<button type="button" onclick="window.location='processes'" class="col-md-5 btn btn-secondary btn-md" style="margin-top: 6px; margin-left: 13px;">Processes</button>
		</div>
	</div>
	<div class="row">
		<h5><a href="/tag" class="badge badge-info badge-pill" style="margin-top: 12px; opacity: .7;">us-east-1-virginia</a></h5>
		<h5><a href="/tag" class="badge badge-info badge-pill" style="margin-left: 12px; margin-top: 12px; opacity: .7;">us-backend-02</a></h5>
		<h5><a href="/tag" class="badge badge-info badge-pill" style="margin-left: 12px; margin-top: 12px; opacity: .7;">us-backend-03</a></h5>
		<h5><a href="/tag" class="badge badge-info badge-pill" style="margin-left: 12px; margin-top: 12px; opacity: .7;">us-backend-04</a></h5>
	</div>
</div>

<br>
<br>
<br>

{% include 'web/status.html' %}

<br>

{% endblock %}