<br />
<div class="row mb-3">
    <div class="col-md">
        <div class="card text-center text-white" id="total-orders">
            <div class="card-header">
                <h5 class="card-title">RAM Usage</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{ ram_usage }}</h3>
            </div>
        </div>
    </div>

    <div class="col-md">
        <div class="card text-center text-white" id="orders-delivered">
            <div class="card-header">
                <h5 class="card-title">CPU Usage</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{ cpu_usage }}</h3>
            </div>
        </div>
    </div>

    <div class="col-md">
        <div class="card text-center text-white" id="orders-pending">
            <div class="card-header">
                <h5 class="card-title">Disk Usage</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{ disk_usage }}</h3>
            </div>
        </div>
    </div>

    <div class="col-md">
        <div class="card text-center text-white" id="total-orders">
            <div class="card-header">
                <h5 class="card-title">CPU Temperature</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{ cpu_temperature }}</h3>
            </div>
        </div>
    </div>
</div>
