<br>
<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Uptime</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">1.2 weeks</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">CPU Idle</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">88%</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Disk Space</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">55 GiB</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Free Memory</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">1.1 GiB</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>